.doc-left-side {
    position: absolute;
    width: 264px;
    visibility: visible;
    top: 124px;
    left: 0;
    height: 100%;

    background-color: #ffffff;
    border-top: #CCCCCC 1px solid;
    border-bottom: #CCCCCC 1px solid;
    border-right: #CCCCCC 1px solid;
    padding: 10px;
}

body {
    height: 100%;
}

.stick {
    position: fixed;
    top: 0;
}