body {
    padding: 0;
    margin: 0;
    font: 13px/27px Verdana;
    font-family: Verdana, sans-serif;
}

.menu {
    font: 12px/27px Arial, sans-serif;
    color: #000000;
    height: 27px;
    border: 0px;
    padding-right: 8px;
    padding-left: 8px;
}

.menu a:hover {
    background-color: #CCCCCC;
    text-decoration-color: #000000;
}

.menu a {
    text-decoration: none;
    padding: 5px 8px 7px;
    outline: none;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 0px;
}

.menu ul li {
    padding: 0;
    float: left;
}

.menu ul li ul li {
    padding: 0;
    float: none;
    margin: 0 0 0 0px;
    width: 100%;
    color: #000000;
}

.menu ul li ul {
    position: absolute;
    box-shadow: 0 1px 5px #CCCCCC;
    margin-top: -1px;
    display: none;
    padding: 0px 16px 0px 0;
    z-index: 1000;
    font-family: Arial,FreeSans,Helvetica,sans-serif;
    font-size: 13px;
}

.menu ul li ul span {
    background-color: white;
    border-bottom: 0;
    display: block;
    width: 100%;
    padding: 0 8px 0 8px;
    position: relative;
    z-index: 1;
}

.active ul a {
    border: 0 !important;
    box-shadow: 0 0 0 #030303;
    border: 0;
    width: 100%;
}

.arrow {
    border-color: #ffffff transparent transparent;
    border-style: solid dashed dashed;
    margin-left: 5px;
    position: relative;
    top: 10px;
}

.arrowSelected {
    border-color: #000000 transparent transparent;
    border-style: solid dashed dashed;
    margin-left: 5px;
    position: relative;
    top: 10px;
}

.menu_separation {
    text-decoration: none;
    cursor: text;
    border-bottom: 1px solid #000000;
    display: block;
    width: 150px;
}

.menuItemBasic {
    padding-left: 12px;
    padding-right: 12px;
}

.menuItem {
    color: #ffffff;
}

.menuItem:hover{
    color: #ffffff;
    background-color: #cccccc;
}

.menuItemSelected {
    background-color: #F5F5F5;
}

.menuTOP {
    padding-left: 8px;
    padding-right: 8px;
}

.menuTOP:hover {
    background-color: #808080;
}

.menuTOP a {
    color: #ffffff;
}